/*
Jashele T. – CampusPress Tasksheet

3. Some styles, please! How’s your CSS? We have this page we don’t quite like the look of: https://tasksheet.tempurl.host/
Can you provide us with CSS code required to match its look with this mockup
*/

/* Link Styling - Global */
html a {
  color: #6eaaaa !important;
}

/* Header Styling */
header h1.wp-block-site-title {
  text-align: center;
  background-image: url("https://devjashele.files.wordpress.com/2024/03/wplogojt.png");
  background-repeat: no-repeat;
  width: 84px;
  height: 73px;
  margin-top: -35px !important;
}
header h1.wp-block-site-title a {
  display: none;
}
header div.wp-elements-6168ec0dc787a297453884a052a8bf6d {
  background-color: #6eaaaa !important;
  padding-bottom: 27px !important;
}

/* Header Nav Styling */
header nav div#modal-1-content {
  background-color: #ffffff;
  padding: 7px;
  margin-bottom: 20px;
}

/* Search Form Styling */
form.wp-block-search {
  margin: -98px;
}
form label.wp-block-search__label {
  display: none !important;
}
form input.wp-block-search__input,
form button.wp-block-search__button {
  border-radius: 0 !important;
}
form button.wp-block-search__button {
  background-color: #c85000 !important;
}

/* Main Content Styling */
main {
  text-align: center;
  padding-bottom: 40px;
  margin-top: 0px;
}
main a {
  font-size: .8em;
}
main ul {
  align-items: center;
  justify-content: center;
}
main ul li {
  width: 30% !important;
}
main ul li div figure img {
  border-radius: 10px;
}
main ul li div h2 {
  margin-top: 14px;
}
main ul li[class*="post-31"] {
  display: none;
}
main ul li[class*="post-33"] {
  display: none;
}

/* Footer Styling */
footer div {
  padding-bottom: 0 !important;
}
footer p.wp-block-site-title a {
  color: #cb7f03 !important;
  font-style: normal;
}
